<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="company">
	<update id="setCompany" parameterType="com.jeonghwapark.portfolio.model.ComVO">
		UPDATE grp_company SET 
			comName = #{comName},
			comSubName = #{comSubName},
			comCeo = #{comCeo},
			comTel = #{comTel},
			comUrl = #{comUrl},
			comCopyright = #{comCopyright},
			comEmail = #{comEmail},
			comAuth = #{comAuth}
	</update>
	
	<select id="getCompany" resultType="com.jeonghwapark.portfolio.model.ComVO">
		SELECT * FROM company_info
	</select>
</mapper>