@charset 'utf-8';

a {
    text-decoration: none;
}

body {
    overflow: hidden;
}

.user-info > img {
    box-shadow: 5px 5px 5px 5px #30009c; 
    box-shadow: -5px 5px 5px -5px #30009c;
} 

.user-initial {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0, .5); 
    box-shadow: -3px 3px 3px -3px rgba(0,0,0, .5);
}

.info-content-bell {
    font-size: 12px;
    background-color: #ffffff;
    position: absolute;
    right: 9px;
    top: 45px;
    z-index: 99999;
}

.info-content-initial {
    width: 80px;
    font-size: 12px;
    background-color: #ffffff;
    position: absolute;
    right: 9px;
    top: 45px;
    z-index: 99999;
}

.info-content-bell::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color:#fff;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    position: absolute;
    top: -6px;
    left: 129.46px;
    transform: translateX(-50%) rotate(45deg);
}

.info-content-initial::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color:#fff;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    position: absolute;
    top: -6px;
    left: 98px;
    transform: translateX(-50%) rotate(45deg);
}

.collapsed {
    width: 5%;
    transition-duration: .5s;
}

.main, .top-head {
    transition-duration: .5s;
}

.top-head-collapsed,
.main-collapsed {
    width: 95%;
    transition-duration: .5s;
}

.dropdown-head {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
}

.dropdown-content {
    display: none;
    /* padding-left: 30px; */
    font-size: 14px;
}

.dropdown-content a {
    display: block;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.dropdown-content a:hover {
    background-color: #5601E8;
}

.collapsed-head:hover, .dropdown-head:hover, .signout:hover {
    background-color: #5601E8;
}

.collapsed-head:hover + .collapsed-content{
    display: inline;
}

.collapsed-head {
    position: relative;
    cursor: pointer;
}

.collapsed-content {
    display: none;
    position: absolute;
    background-color: #5601E8;
    left: 5%;
    z-index: 9999;
    width: 100px;
    text-align: center;
}

.info-content {
    width: 80px;
    font-size: 12px;
    background-color: #ffffff;
}

.info-head:hover + .info-content {
    display: block;
}

.top-head-wrap, .main-head, .numofuser, .gender, .movie-rank, .line-two {
    box-shadow: 3px 3px 3px 3px rgba(0,0,0, .5); 
    box-shadow: -3px 3px 3px -3px rgba(0,0,0, .5);
}

.search {
    width: 180px;
    height: 30px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid #000;
    border-radius: 50px;
}

form {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.search-icon i {
    cursor: pointer;
    font-size: 16px;
}

.msg {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ff0000;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    line-height: 15px;

    position: absolute;
    top: -5px;
    right: -8px;
}

.bell i {
    font-size: 20px;
}

.bell {
    position: relative;
}

.alarm-warp > div {
    margin-right: 10px;
}

.numofuser-title, .gender-title, .rank-title, .alarm-title {
    background-color: #F8F9FC;
    border-bottom: 1px solid #E3E6F0;
}

.signout {
    position: absolute;
    /* left: 40px; */
    bottom: 0;
    cursor: pointer;
    padding: 20px 36px;
    overflow: hidden;
}
